<div class="mx-auto max-w-7xl relative">
  <div *ngIf="showSuccessToast" class="absolute right-0 bg-green-100 border-t border-b border-green-500 text-green-700 px-4 py-1.5 rounded" role="alert">
    <!-- <p class="font-bold">Informational message</p> -->
    <p class="text-sm">Successfully Deleted the Feedback.</p>
  </div>
  <div *ngIf="showErrorToast" class="absolute right-0 bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-1.5 rounded" role="alert">
    <!-- <p class="font-bold">Informational message</p> -->
    <p class="text-sm">Failed to Delete.</p>
  </div>
  <div class="bg-white shadow-md rounded-lg overflow-hidden">
    <div class="px-6 py-4 border-b border-gray-200">
      <h2 class="text-xl font-semibold text-gray-800">
        User Feedback Dashboard
      </h2>
    </div>
    

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <!-- <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
              <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">User ID</th> -->
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Service Type
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Service ID
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Rating
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Comment
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Timestamp
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let feedback of feedbacks">
            <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{feedback.id}}</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{feedback.userId}}</td> -->
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ feedback.serviceType }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ feedback.serviceId }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-sm font-medium"
              [ngClass]="getRatingClass(feedback.rating)"
            >
              {{ feedback.rating }} / 5
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ feedback.comment }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ formatDateTime(feedback.timestamp) }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-right">
              <button
                (click)="deleteFeedback(feedback.id)"
                class="text-red-600 hover:text-red-900"
              >
                <svg
                  width="28px"
                  height="28px"
                  viewBox="0 0 1024 1024"
                  fill="#df0c0c"
                  class="icon text-red-600"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M512 897.6c-108 0-209.6-42.4-285.6-118.4-76-76-118.4-177.6-118.4-285.6 0-108 42.4-209.6 118.4-285.6 76-76 177.6-118.4 285.6-118.4 108 0 209.6 42.4 285.6 118.4 157.6 157.6 157.6 413.6 0 571.2-76 76-177.6 118.4-285.6 118.4z m0-760c-95.2 0-184.8 36.8-252 104-67.2 67.2-104 156.8-104 252s36.8 184.8 104 252c67.2 67.2 156.8 104 252 104 95.2 0 184.8-36.8 252-104 139.2-139.2 139.2-364.8 0-504-67.2-67.2-156.8-104-252-104z"
                      fill=""
                    ></path>
                    <path
                      d="M707.872 329.392L348.096 689.16l-31.68-31.68 359.776-359.768z"
                      fill=""
                    ></path>
                    <path d="M328 340.8l32-31.2 348 348-32 32z" fill=""></path>
                  </g>
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
